# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
app/*/*/*/*/__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.env
.venv
venv

# Test i temp fajlovi
*.log
*.tmp
*.swp
.DS_Store